body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.header{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 100px;
}

.header>a{
    margin-right: auto;

}
.header>a>img{
    height: 150px;
    
}
.header>button{
    margin: 1%;
    font-size: 1.2rem;
    cursor: pointer;
    
}

.navList{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3vw;

}
.navList>a{
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
}


.body{
    width: 90vw;

}


.body>.searchBar>input{
    padding: 5px;
    
    font-size: 1.5rem;
    border-radius: 10px;

}
.body>.searchBar{
    margin: 10px 10vw;
    
    

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 10px;
}

.restaurantCard{
    width: 250px;
    height: 300px;
    border: 4px solid black;
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor:pointer;
    
    

}
.restaurantCard>img{
    max-width: 250px;
    margin: 0 auto;
    display: block;
}
.restaurantCard>h1{
    margin: 0;
    
}
.restaurantDishes{
    height: 60vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.shimmerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 10px;

}

.shimmerItem{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 5px 5px  ;
    gap: 2px;
    

}
.shimmerItem>.shimmerImage{
    margin: 0;
    height: 200px;
    width: 250px;
    border-radius: 10%;
    background-color: rgb(165, 165, 165);
}
.shimmerItem>.shimmerTitle{
    height: 20px;
    width: 240px;
    border-radius: 10px;
    background-color: rgb(165, 165, 165);

}



.footer{
    position: relative;
    bottom: 0;
    

}
.footer>h1{
    width: 100%;
    text-align: center;
}


